AWSTemplateFormatVersion: '2010-09-09'

Description: ECS Cluster Application Version

Parameters:
  Name:
    Type: String
    Description: Name of this Application
    ConstraintDescription: Must be DNS friendly
    AllowedPattern: ^[a-zA-Z][a-zA-Z0-9\-]+$
  ClusterName:
    Type: String
    Description: Name of the ECS cluster to use
    ConstraintDescription: Must be DNS friendly
    AllowedPattern: ^[a-zA-Z][a-zA-Z0-9\-]+$
  Environment:
    Description: Environment
    Type: String
    Default: Dev
    AllowedValues:
      - Dev
      - QA
      - PreProd
      - Production
      - CoreProd
  Version:
    Type: String
  HealthCheckPath:
    Description: Healthcheck Path used on TargetGroup
    Type: String
    Default: /
  TaskDefinitionArn:
    Description: ARN of Task Definition revision to Deploy to this service
    Type: String
  ContainerPort:
    Description: Port container listens
    Type: String
  RulePriority:
    Description: Listerner Rule Priority
    Type: Number
  DeregistrationDelay:
    Description: Target Group Deregistration Delay timeout in seconds
    Type: Number
    Default: 30
  Autoscaling:
    Description: Enable Autoscaling
    Type: String
    Default: Disable
    AllowedValues:
      - Enable
      - Disable
  AutoscalingTargetValue:
    Description: Target CPU for Autoscaling
    Type: Number
    Default: 75
  AutoscalingMaxSize:
    Description: Max number of containers to autoscale
    Type: Number
    Default: 16
  AutoscalingMinSize:
    Description: Min number of containers to autoscale
    Type: Number
    Default: 2
  Domain:
    Description: Domain name, only used for output
    Type: String
  Path:
    Description: Application path, only used for output
    Type: String
  AlbScheme:
    Description: Is the ALB internal or internet-facing?
    Type: String

Conditions:
  isAutoscaling: !Equals [ !Ref Autoscaling, 'Enable']
  isInternal: !Equals
    - !Ref AlbScheme
    - 'internal'

Mappings:
  Common:
    Dev:
      VPC: vpc
    QA:
      VPC: vpc
    PreProd:
      VPC: vpc
    Production:
      VPC: vpc-Prod

Resources:
  ALBTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      HealthCheckIntervalSeconds: 10
      HealthCheckPath: !Ref HealthCheckPath
      HealthCheckProtocol: HTTP
      HealthCheckTimeoutSeconds: 5
      HealthyThresholdCount: 2
      Port: 80
      Protocol: HTTP
      UnhealthyThresholdCount: 2
      TargetGroupAttributes:
        - Key: deregistration_delay.timeout_seconds
          Value: !Ref DeregistrationDelay
      VpcId:
        Fn::ImportValue: !FindInMap [Common, !Ref Environment, VPC]

  ListenerRule:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      Actions:
        - Type: forward
          TargetGroupArn:
            Ref: ALBTargetGroup
      Conditions:
        - Field: host-header
          Values:
            - !Sub "${Name}-${Version}.*"
      ListenerArn:
        Fn::ImportValue: !Sub "ecs-${ClusterName}-${Name}-${Environment}-ALBListenerSSL"
      Priority: !Ref RulePriority

  ECSService:
    Type: AWS::ECS::Service
    DependsOn: ListenerRule
    Properties:
      TaskDefinition: !Ref TaskDefinitionArn
      DesiredCount: 1
      Cluster:
        Fn::ImportValue: !Sub "ecs-${ClusterName}-ECSClusterArn"
      Role:
        Fn::ImportValue: !Sub "ecs-${ClusterName}-ECSServiceRole"
      LoadBalancers:
        - ContainerName: !Sub "${Name}"
          ContainerPort: !Ref ContainerPort
          TargetGroupArn: !Ref ALBTargetGroup

  ServiceScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Condition: isAutoscaling
    Properties:
      MaxCapacity: !Ref AutoscalingMaxSize
      MinCapacity: !Ref AutoscalingMinSize
      ResourceId: !Sub
        - "service/${ECSCluster}/${ServiceName}"
        - ECSCluster:
            "Fn::ImportValue": !Sub "ecs-${ClusterName}-ECSCluster"
          ServiceName: !GetAtt ECSService.Name
      RoleARN:
        "Fn::ImportValue": !Sub "ecs-${ClusterName}-ECSAutoscalingRoleArn"
      ScalableDimension: ecs:service:DesiredCount
      ServiceNamespace: ecs
  ServiceScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Condition: isAutoscaling
    Properties:
      PolicyName: !Sub '${AWS::StackName}-scale-target'
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref 'ServiceScalingTarget'
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: !Ref AutoscalingTargetValue
        PredefinedMetricSpecification:
          PredefinedMetricType: ECSServiceAverageCPUUtilization

  Route53ALB:
    Type: AWS::Route53::RecordSet
    Condition: isInternal
    Properties:
      Name: !Sub
        - "${Name}-${Version}.${HostedZoneName}"
        - HostedZoneName: !ImportValue
            Fn::Sub: "ecs-${ClusterName}-${Name}-${Environment}-HostedZoneName"
      HostedZoneName:
        Fn::ImportValue: !Sub "ecs-${ClusterName}-${Name}-${Environment}-HostedZoneName"
      Type: A
      AliasTarget:
        HostedZoneId:
          Fn::ImportValue: !Sub "ecs-${ClusterName}-${Name}-${Environment}-ALBCanonicalHostedZoneID"
        DNSName:
          Fn::ImportValue: !Sub "ecs-${ClusterName}-${Name}-${Environment}-ALBDNSName"

Outputs:
  Url:
    Value: !Sub "https://${Name}-${Version}.${Domain}${Path}"
    Description: URL for the version of this app
  Version:
    Value: !Ref Version
    Description: The version used for this CloudFormation stack
